* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  font-weight: 400;
}

input,
button,
textarea {
  font-family: inherit;
}
:root {
  --main-color-text: #b7bae0;
}

body {
  background-color: #171723;
  color: var(--main-color-text);
}

.backside {
  background-color: #24273d;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 700px;
  margin-top: 100px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  font-size: 35px;
  margin-bottom: 10px;
}

.form-style {
  display: flex;
  justify-content: space-between;
}

.form-style > select {
  margin: 0px 10px;
  width: 50%;
}

.input-style {
  width: 100%;
  color: var(--main-color-text);
  background-color: #24273d;
  border-radius: 5px;
  border: 1px solid var(--main-color-text);
}

.dropdown-styles {
  color: var(--main-color-text);
  background-color: #24273d;
  border-radius: 5px;
  border: 1px solid var(--main-color-text);
  /* appearance: none; */
}

.choice {
  color: var(--main-color-text);
  display: flex;
  margin: 10px 0px;
}

.choice > p {
  padding-right: 10px;
}

ul {
  padding-inline-start: 0px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: #373b5b;
}

.for-item {
  max-width: 450px;
  word-wrap: break-word;
  margin-left: 10px;
}

.priority-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority {
  font-size: 15px;
  margin-right: 15px;
  font-weight: 700;
}

.red-text {
  color: red;
  font-weight: 400;
}

.yellow-text {
  color: #d0d007;
  font-weight: 400;
}

.green-text {
  color: #24cc24;
  font-weight: 400;
}

.none-text {
  display: none;
}

@keyframes shake-item {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }

  10%,
  30% {
    transform: rotate(-10deg);
  }

  20%,
  40% {
    transform: rotate(10deg);
  }
}

.images-item {
  margin: 4px;
}

.images-item:hover {
  animation: shake-item 1.2s ease-in-out;
}

.for-submit {
  box-shadow: 0 0 5px #7892c2;
  background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  background-color: #7892c2;
  border-radius: 6px;
  border: 1px solid #4e6096;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0 0 5px #283966;
}

.for-submit:hover {
  background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  background-color: #476e9e;
}
.for-submit:active {
  position: relative;
  top: 1px;
}

.done {
  text-decoration: line-through;
}

.progress {
  background-color: #9fa2c6;
  border-radius: 15px;
  color: black;
}

.progress-done {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left, #f2709c, #ff9472);
  border-radius: 15px;
  transition: 1s ease 0.3s;
}

.progress-text {
  min-width: 190px;
}
